@model EscapeRoomPlanner.Data.EntityFramework.Models.Room

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<hr>

<div class="col-12" id="roomReservation">

    <div class="row">
        <div class="col-3">
            Date
            <div class="input-group date" class="datepicker" data-date-format="dd.mm.yyyy" data-provide="datepicker">
                <input type="text" class="form-control dateChange">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-9" id="availableRoomsAsync">
            <h2 style="text-align: center">Choose date!</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <a asp-action="Index" asp-controller="Room" class="btn btn-secondary btn-sm p-2" style="width: 10rem">Back</a>
            <a class="btn btn-success float-right js-new-reservation" style="width: 10rem">Next</a>
            <a asp-action="New" asp-controller="Customer" class="btn btn-success float-right" style="width: 10rem">Next</a>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').datepicker({});

            $('.dateChange').on("change", function(e) {
                $("#availableRoomsAsync").html("<h2 style='text-align: center'>Loading...</h2>");
                const date = $('.dateChange').val();
                getAvailableRooms(date);
            });

            var test = @Json.Serialize(Model);

            $("#roomReservation").on("click",
                ".js-new-reservation",
                function() {
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(test),
                        url: "/customer/new",
                        contentType: "application/json"
                    }).done(function(res) {
                        $("#SomeDivToShowTheResult").html(res);
                    });
                });
        });

        function getAvailableRooms(selectedDate) {
            $.ajax({
                url: "/room/Available/" + @Model.Id + "/" + selectedDate,
                method: "GET",
                success: function(result) {
                    $("#availableRoomsAsync").html(result);
                },
                error: function(error) {
                    console.log("Nepodarilo sa nacitat data" + error);
                }
            });
        }
    </script>
}
