@model EscapeRoomPlanner.Data.EntityFramework.Models.Room

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<hr>

<div class="col-12" id="roomReservation">

    <div class="row">
        <div class="col-3">
            Date
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <br/>
        </div>

            <div class="col-9" id="availableRoomsAsync">
                <h2 style="text-align: center">Loading...</h2>
            </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <a asp-action="Index" asp-controller="Room" class="btn btn-secondary btn-sm p-2" style="width: 10rem">Back</a>
            <a class="btn btn-success float-right js-new-reservation" style="width: 10rem">Next</a>
            <a asp-action="New" asp-controller="Customer" class="btn btn-success float-right" style="width: 10rem">Next</a>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').datepicker();

            var test = @Json.Serialize(@Model);

            $("#roomReservation").on("click",
                ".js-new-reservation",
                function() {
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(test),
                        url: "/customer/new",
                        contentType: "application/json"
                    }).done(function(res) {
                        $("#SomeDivToShowTheResult").html(res);
                    });
                });

            setTimeout(function () {
                getAvailableRooms();
            }, 1500);
        });

        function getAvailableRooms() {
            $.ajax({
                url: "/api/room/" + 3 + "/" + "11.11.2018",
                method: "GET",
                success: function(result) {
                    $("#availableRoomsAsync").html(result);
                },
                error: function(error) {
                    console.log("Nepodarilo sa nacitat data" + error);
                }
            });
        }
    </script>
}
