@using EscapeRoomPlanner.ViewHelpers
@model EscapeRoomPlanner.DTO.Room

@{
    Layout = null;
}

Available Hours
@if (Model.AvailableHours.Any())
{
    <div class="card-columns">
        @foreach (var avaHour in Model.AvailableHours)
        {
            <div class="card">
                <div class="card-body" value="@avaHour.Open" style="padding: 0.25rem; text-align: center">
                    <a href="" class="js-selected-room-hour" style="color: black">@(avaHour.Open.intToTime()) - @avaHour.Close.intToTime()</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h3 style="text-align: center">Nothing available today!</h3>
}