@model EscapeRoomPlanner.DTO.Room

@{
    Layout = null;
}

Available Hours
<div class="card-columns">
    @foreach (var avaHour in @Model.AvailableHours)
    {
        <div class="card">
            <div class="card-body" style="padding: 0.25rem;">
                <p style="text-align: center">@avaHour.Open:@avaHour.Close</p>
            </div>
        </div>
    }
</div>
